<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Login</h1>

<!-- Mensagem de Erro -->
<div th:if="${errorMessage}" class="error">
    <p th:text="${errorMessage}"></p>
</div>

<!-- Mensagem de Logout -->
<div th:if="${logoutMessage}" class="success">
    <p th:text="${logoutMessage}"></p>
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="username" />
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Login</button>
</form>

<p>Não possui uma conta? <a th:href="@{/register}">Registrar-se</a></p>
</body>
</html>
